- Homelab:
    - Jenkins:
        href: https://{{ meshnet_hostname }}/jenkins
        description: CI/CD
        icon: jenkins
        server: my-docker
        container: jenkins-jenkins-1
    - Grafana:
        href: https://{{ meshnet_hostname }}/grafana
        description: Monitoring
        icon: grafana
        server: my-docker
        container: grafana
