[global]
   workgroup = WORKGROUP
   server string = Homelab
   security = user
   map to guest = never
   logging = systemd

[music]
   path = /srv/music
   valid users = build
   read only = no
   browseable = yes
