services:
  jenkins:
    build: /opt/jenkins
    restart: unless-stopped
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
      - JENKINS_OPTS=--prefix=/jenkins
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc.yml
    ports:
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /opt/jenkins/casc.yml:/var/jenkins_home/casc.yml:ro
      - /var/run/docker.sock:/var/run/docker.sock
    group_add:
      - "{{ docker_gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jenkins.rule=Host(`{{ meshnet_hostname }}`) && PathPrefix(`/jenkins`)"
      - "traefik.http.routers.jenkins.entrypoints=websecure"
      - "traefik.http.routers.jenkins.tls=true"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"
    networks:
      - proxy

volumes:
  jenkins_home:

networks:
  proxy:
    external: true
